<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.company.appstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Act">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAct" />
        <activity android:name=".LoginAct" />
        <activity android:name=".DashbordAct" />
        <activity android:name=".LaporanUangAct" />
        <activity android:name=".AbsensiAct" />
        <activity android:name=".Login2Act" />
        <activity android:name=".OwnerDashbordAct" />
        <activity android:name=".EditOwnerAct" />
        <activity android:name=".EditTokoAct" />
        <activity android:name=".DataKaryawanAct" />
        <activity android:name=".ProfileKaryawanAct" />
        <activity android:name=".EditKaryawanAct" />
        <activity android:name=".AddKaryawanAct" />
        <activity android:name=".LaporanOwnerAct" />
        <activity android:name=".GajiAct" />
        <activity android:name=".ListAbsensiAct"></activity>
    </application>

</manifest>